.App {
  padding: 50px 0;

  text-align: center;
}

.link--active {
  color: rgba(250,150,150,1) !important;
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;

  z-index: 10;

  transition: all 0.3s linear;
}

